#contacto
  h1 Vamos falar?
  
  .contact-wrap
    a(href='#{facebook}', target='_blank')
      span.icon-facebook-square(data-toggle="tooltip", data-placement="top", title="#{facebookUser}")
    a(href='#{instagram}', target='_blank')  
      span.icon-instagram(data-toggle="tooltip", data-placement="top", title="#{instagramUser}")
    a(href='#{email}', target='_blank')
      span.icon-envelope-square(data-toggle="tooltip", data-placement="top", title="#{emailUser}")
    a(href='#{phone}', target='_blank')  
      span.icon-phone-square(data-toggle="tooltip", data-placement="top", title="#{phoneUser}")
  
  .contact-form
    form(action='', method='post')
      input.form-control(type='text', placeholder='Nome', class='nome', name='nome')
      input.form-control(type='email', placeholder='Email', class='email', name='email')
      textarea.form-control(rows='5', placeholder='Mensagem', class='message', name='message')
      .messageSent
        p <strong>Mensagem enviada!</strong> Entrarei em contacto consigo brevemente.
      .messageError
        p <strong>Erro!</strong> Todos os campos devem ser preenchidos.
      button.btn.btn-primary.btn-lg(type='submit', name='submit') Enviar
      
      
