#footer
  .links-wrap
    ul
      li
        a(href='#{link1}') #{menu1}
      li
        a(href='#{link2}') #{menu2}        
      li
        a(href='#{link3}') #{menu3}
      li
        a(href='#{link4}') #{menu4}
      li
        a(href='#{facebook}', target='_blank') Facebook
      li
        a(href='#{instagram}', target='_blank') Instagram
  
  hr
  
  .mailphone-wrap
    p #{emailUser}
    p #{phoneUser}
  
  .copyright-wrap
    p &copy; 2016 Marco Gil. Todos os direitos reservados.
    p Website por 
      a(href='#') Eduardo Gil
