.logo-lockup
  .logo
    img(src='#{logo}', alt='Marco Gil - Fotografia')

navbar.menu
  ul.left
    li
      a(href='#{link1}') #{menu1}
    li
      a(href='#{link2}') #{menu2}
  ul.right
    li
      a(href='#{link3}') #{menu3}
    li
      a(href='#{link4}') #{menu4}

navbar.showNavbar
  ul.left
    li
      a(href='#{linkLogo}')
        img(src='#{miniLogo}', alt='Marco Gil - Fotografia') 
      p Marco Gil
  ul.right
    li
      a(href='#{link1}') #{menu1}
    li
      a(href='#{link2}') #{menu2}
    li
      a(href='#{link3}') #{menu3}
    li
      a(href='#{link4}') #{menu4}
      
navbar.mobile
  ul
    li
      a(href='#{linkLogo}')
        img(src='#{miniLogo}', alt='Marco Gil - Fotografia')
    li
      a(href='#{link1}').link #{menu1}
    li
      a(href='#{link2}').link #{menu2}
    li
      a(href='#{link3}').link #{menu3}
    li
      a(href='#{link4}').link #{menu4}
