.logo-lockup
  .logo
    img(src='img/logo.png', alt='Marco Gil - Fotografia')

navbar.menu
  ul.left
    li
      a(href='#{blog}') Blog
    li
      a(href='#{sobre}') Sobre
  ul.right
    li
      a(href='#{trabalho}') Trabalho
    li
      a(href='#{contacto}') Contacto

navbar.showNavbar
  ul.left
    li
      img(src='img/logo.png', alt='Marco Gil - Fotografia') 
      p Marco Gil
  ul.right
    li
      a(href='#{blog}') Blog
    li
      a(href='#{sobre}') Sobre
    li
      a(href='#{trabalho}') Trabalho
    li
      a(href='#{contacto}') Contacto
