.logo-lockup
  .logo
    img(src='#{logo}', alt='Marco Gil - Fotografia')

navbar.menu
  ul.left
    li
      a(href='#{blog}') #{menu1}
    li
      a(href='#{sobre}') #{menu2}
  ul.right
    li
      a(href='#{trabalho}') #{menu3}
    li
      a(href='#{contacto}') #{menu4}

navbar.showNavbar
  ul.left
    li
      img(src='#{logo}', alt='Marco Gil - Fotografia') 
      p Marco Gil
  ul.right
    li
      a(href='#{blog}') #{menu1}
    li
      a(href='#{sobre}') #{menu2}
    li
      a(href='#{trabalho}') #{menu3}
    li
      a(href='#{contacto}') #{menu4}
