#trabalho
  h1 O meu trabalho
  
  .container
    .col-md-1
    .col-md-10
      .intro
        p É a minha visão sobre o mundo. São Pessoas, Paisagens, Perspectivas que são as minhas, a vida à luz do dia ou da noite e cidades que percorro com a mesma intensidade que as vivo. Tudo em fotografias que contam histórias ou estórias de um quotidiano que é o de todos ou o meu.
    .col-md-1
  
  .categorias
    .cat1
      .overlay
        strong #{cat1}
    .cat2
      .overlay
        strong #{cat2}
    .cat3
      .overlay
        strong #{cat3}
    .cat4
      .overlay
        strong #{cat4}
    .cat5
      .overlay
        strong #{cat5}
  
  .catopen-wrap
    .closeBtn
      span.icon-close  
    .cat1open
      .catDesc-wrap
        h1 #{cat1}
        p Despir-lhes a alma, ler-lhes o rosto, fotografar pessoas é como intervalar vidas por instantes ou perpetuar memórias.
    .cat2open
      .catDesc-wrap
        h1 #{cat2}
        p Com ou sem horizonte, é aqui que podemos ser felizes se nos resignarmos apenas a olhar.
    .cat3open
      .catDesc-wrap
        h1 #{cat3}
        p É como caçar constelações. Ou fazer acordar o mundo das estrelas, dar luz ao silêncio e aproveitar uma galáxia de cores que se aproxima com o nascer do dia ou o cair da noite.
    .cat4open
      .catDesc-wrap
        h1 #{cat4}
        p A história das cidades do mundo em geral é longa, pelo que decidi fazê-la de instantes. São lapsos de um quotidiano urbano à luz do dia ou da noite.
    .cat5open
      .catDesc-wrap
        h1 #{cat5}
        p Uma forma diferente e própria de ver o mundo, repleta de detalhes ou sem eles.
