#trabalho
  h1 O meu trabalho
  
  .container
    .col-md-1
    .col-md-10
      .intro
        p É a minha visão sobre o mundo. São Pessoas, Paisagens, Perspectivas que são as minhas, a vida à luz do dia ou da noite e cidades que percorro com a mesma intensidade que as vivo. Tudo em fotografias que contam histórias ou estórias de um quotidiano que é o de todos ou o meu.
    .col-md-1
  
  .categorias
    .cat1
      .overlay
        strong #{cat1}
    .cat2
      .overlay
        strong #{cat2}
    .cat3
      .overlay
        strong #{cat3}
    .cat4
      .overlay
        strong #{cat4}
    .cat5
      .overlay
        strong #{cat5}
  
  .catopen-wrap
    .closeBtn
      span.icon-close
    .cat1open
      .catDesc-wrap
        h1 #{cat1}
        p Despir-lhes a alma, ler-lhes o rosto, fotografar pessoas é como intervalar vidas por instantes ou perpetuar memórias.
      .pic(data-toggle='modal', data-target='#myModal')
        img(src='img/cats/Pessoas.jpg')
      .pic(data-toggle='modal', data-target='#myModal')
        img(src='img/cats/Pessoas.jpg')
      .pic(data-toggle='modal', data-target='#myModal')
        img(src='img/cats/Pessoas.jpg')
    .cat2open
      .catDesc-wrap
        h1 #{cat2}
        p Com ou sem horizonte, é aqui que podemos ser felizes se nos resignarmos apenas a olhar.
    .cat3open
      .catDesc-wrap
        h1 #{cat3}
        p É como caçar constelações. Ou fazer acordar o mundo das estrelas, dar luz ao silêncio e aproveitar uma galáxia de cores que se aproxima com o nascer do dia ou o cair da noite.
    .cat4open
      .catDesc-wrap
        h1 #{cat4}
        p A história das cidades do mundo em geral é longa, pelo que decidi fazê-la de instantes. São lapsos de um quotidiano urbano à luz do dia ou da noite.
    .cat5open
      .catDesc-wrap
        h1 #{cat5}
        p Uma forma diferente e própria de ver o mundo, repleta de detalhes ou sem eles.
  
  .modal.fade#myModal(tabindex='-1', role='dialog', aria-labelledby='modalLabel')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Fechar')
            span(aria-hidden='true') &times;
          h4.modal-title#modalLabel #{cat1}
        .modal-body
          img(src='img/heroes/hero-img1.jpg')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis pariatur quo ipsam ad possimus inventore, sunt vitae. Molestiae ut, aliquid facilis quo facere, nemo amet voluptatum dolorum maxime quasi inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque voluptas beatae praesentium eligendi voluptatibus facere cumque repudiandae, expedita incidunt quis assumenda error laboriosam laudantium! Fuga esse sunt quo itaque ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam praesentium dolorem voluptatem quis fuga maxime placeat deleniti saepe accusantium alias assumenda quam optio obcaecati iste, dolore impedit magnam. Beatae, laborum.
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Fechar
