#delete
  h1 Apagar
  .sel-wrap
    .form-group
      label(for='catsel') Categoria
      select.form-control#catsel
       option(value='cat1') #{cat1}
       option(value='cat2') #{cat2}
       option(value='cat3') #{cat3}
       option(value='cat4') #{cat4}
       option(value='cat5') #{cat5}
  
  .deleted
  .results
