#upload
  p
    a(href='login/logout.php') Terminar sessão
  h1 Adicionar
  form(action='php-resources/upload.php' method='post', enctype='multipart/form-data')
    .form-group.left
      .radio
        p <strong>Categorias:</strong>
        label.radio-inline
          input(id='cat1', type='radio', value='cat1', name='categories')
          | #{cat1}
        label.radio-inline
          input(id='cat2', type='radio', value='cat2', name='categories')
          | #{cat2}
        label.radio-inline
          input(id='cat3', type='radio', value='cat3', name='categories')
          | #{cat3}
        label.radio-inline
          input(id='cat4', type='radio', value='cat4', name='categories')
          | #{cat4}
        label.radio-inline
          input(id='cat5', type='radio', value='cat5', name='categories')
          | #{cat5}
      label(for='#fileToUpload') Escolha a fotografia:
      input#fileToUpload(type='file', name='fileToUpload', accept='image/gif, image/jpeg, image/png')
      label(for='#thumbToUpload') Escolha o thumbnail:
      input#thumbToUpload(type='file', name='thumbToUpload', accept='image/gif, image/jpeg, image/png')
    .form-group.right
      input.form-control#loc(type='text', placeholder='Localização', name='loc')
      textarea.form-control(rows='7', placeholder='Descrição', class='texto', name='texto')
    input.btn.btn-default.btn-lg(type='submit', value='Enviar', name='submit')
  
  .previewZone

  hr
