form(action='php-resources/upload.php' method='post', enctype='multipart/form-data')
  .form-group
    .radio
      p Categorias:
      label.radio-inline
        input(id='cat1', type='radio', value='cat1', name='categories')
        | #{cat1}
      label.radio-inline
        input(id='cat2', type='radio', value='cat2', name='categories')
        | #{cat2}
      label.radio-inline
        input(id='cat3', type='radio', value='cat3', name='categories')
        | #{cat3}
      label.radio-inline
        input(id='cat4', type='radio', value='cat4', name='categories')
        | #{cat4}
      label.radio-inline
        input(id='cat5', type='radio', value='cat5', name='categories')
        | #{cat5}
    label(for='#fileToUpload') Escolha a imagem:
    input#fileToUpload(type='file', name='fileToUpload', accept='image/gif, image/jpeg, image/png')
  input.btn.btn-default(type='submit', value='Enviar', name='submit')
